*.pyc
.idea/
*.swp
.env
.coverage
venv/
.venv/
*.egg-info
.obsidian
build/
dist/
node_modules
**/.angular
.vscode
**/src-tmp
logs/
__pycache__
**/work_space/**
**/workspace/**
google_api_key*.json
*.pdf
app/manus/*.pyc
evaluation-results/
evaluation-results-with-refs/
Co-Sight-outputs/
results/
*.log
final-eval-results/
test-eval-results/